/*
 * Index
*/


#wrapper {
	margin-top: 50px;
}

.idx-section {
	margin-bottom: 25px;
	margin-top: 25px;
}

/*
* Generic
*/

footer {
	height: 100%;
	margin-bottom: 0;
	margin-top: 100px;
	bottom: 0;
}