#md-article @font-face{
    font-family:KaTeX_AMS;
    src:url(/static/fonts/KaTeX_AMS-Regular.672c961.eot);
    src:url(/static/fonts/KaTeX_AMS-Regular.672c961.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_AMS-Regular.f4c3270.woff2) format("woff2"),url(/static/fonts/KaTeX_AMS-Regular.e78f217.woff) format("woff"),url(/static/fonts/KaTeX_AMS-Regular.9971d27.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Caligraphic;
    src:url(/static/fonts/KaTeX_Caligraphic-Bold.3c3fce5.eot);
    src:url(/static/fonts/KaTeX_Caligraphic-Bold.3c3fce5.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Caligraphic-Bold.a2e0522.woff2) format("woff2"),url(/static/fonts/KaTeX_Caligraphic-Bold.bac6199.woff) format("woff"),url(/static/fonts/KaTeX_Caligraphic-Bold.743b42a.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Caligraphic;
    src:url(/static/fonts/KaTeX_Caligraphic-Regular.a0ba281.eot);
    src:url(/static/fonts/KaTeX_Caligraphic-Regular.a0ba281.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Caligraphic-Regular.479a68e.woff2) format("woff2"),url(/static/fonts/KaTeX_Caligraphic-Regular.a64e134.woff) format("woff"),url(/static/fonts/KaTeX_Caligraphic-Regular.244db27.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Fraktur;
    src:url(/static/fonts/KaTeX_Fraktur-Bold.2b4454d.eot);
    src:url(/static/fonts/KaTeX_Fraktur-Bold.2b4454d.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Fraktur-Bold.8e5f883.woff2) format("woff2"),url(/static/fonts/KaTeX_Fraktur-Bold.0a0aa19.woff) format("woff"),url(/static/fonts/KaTeX_Fraktur-Bold.ad26cc8.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Fraktur;
    src:url(/static/fonts/KaTeX_Fraktur-Regular.dc81eae.eot);
    src:url(/static/fonts/KaTeX_Fraktur-Regular.dc81eae.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Fraktur-Regular.ae2b6f4.woff2) format("woff2"),url(/static/fonts/KaTeX_Fraktur-Regular.f980ca7.woff) format("woff"),url(/static/fonts/KaTeX_Fraktur-Regular.d459632.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Main;
    src:url(/static/fonts/KaTeX_Main-Bold.d327c21.eot);
    src:url(/static/fonts/KaTeX_Main-Bold.d327c21.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Main-Bold.83f8b32.woff2) format("woff2"),url(/static/fonts/KaTeX_Main-Bold.d8a629d.woff) format("woff"),url(/static/fonts/KaTeX_Main-Bold.e69b951.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Main;
    src:url(/static/fonts/KaTeX_Main-Italic.2702ac3.eot);
    src:url(/static/fonts/KaTeX_Main-Italic.2702ac3.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Main-Italic.07510ed.woff2) format("woff2"),url(/static/fonts/KaTeX_Main-Italic.8dd42e0.woff) format("woff"),url(/static/fonts/KaTeX_Main-Italic.1b22614.ttf) format("truetype");
    font-weight:400;
    font-style:italic
}
#md-article @font-face{
    font-family:KaTeX_Main;
    src:url(/static/fonts/KaTeX_Main-Regular.31ec450.eot);
    src:url(/static/fonts/KaTeX_Main-Regular.31ec450.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Main-Regular.bd65225.woff2) format("woff2"),url(/static/fonts/KaTeX_Main-Regular.2dffc87.woff) format("woff"),url(/static/fonts/KaTeX_Main-Regular.d9162df.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Math;
    src:url(/static/fonts/KaTeX_Math-Italic.031026c.eot);
    src:url(/static/fonts/KaTeX_Math-Italic.031026c.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Math-Italic.afeebb7.woff2) format("woff2"),url(/static/fonts/KaTeX_Math-Italic.da58601.woff) format("woff"),url(/static/fonts/KaTeX_Math-Italic.55fbb3a.ttf) format("truetype");
    font-weight:400;
    font-style:italic
}
#md-article @font-face{
    font-family:KaTeX_SansSerif;
    src:url(/static/fonts/KaTeX_SansSerif-Regular.a3319b7.eot);
    src:url(/static/fonts/KaTeX_SansSerif-Regular.a3319b7.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_SansSerif-Regular.7d5fa3e.woff2) format("woff2"),url(/static/fonts/KaTeX_SansSerif-Regular.48c7df6.woff) format("woff"),url(/static/fonts/KaTeX_SansSerif-Regular.8075d14.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Script;
    src:url(/static/fonts/KaTeX_Script-Regular.cf8394e.eot);
    src:url(/static/fonts/KaTeX_Script-Regular.cf8394e.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Script-Regular.c472b57.woff2) format("woff2"),url(/static/fonts/KaTeX_Script-Regular.5acb381.woff) format("woff"),url(/static/fonts/KaTeX_Script-Regular.abb12fc.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Size1;
    src:url(/static/fonts/KaTeX_Size1-Regular.5438d9d.eot);
    src:url(/static/fonts/KaTeX_Size1-Regular.5438d9d.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Size1-Regular.feed6c7.woff2) format("woff2"),url(/static/fonts/KaTeX_Size1-Regular.bdd0d5e.woff) format("woff"),url(/static/fonts/KaTeX_Size1-Regular.8cc60fd.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Size2;
    src:url(/static/fonts/KaTeX_Size2-Regular.1f5c2ab.eot);
    src:url(/static/fonts/KaTeX_Size2-Regular.1f5c2ab.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Size2-Regular.8a86a0a.woff2) format("woff2"),url(/static/fonts/KaTeX_Size2-Regular.fd67fb3.woff) format("woff"),url(/static/fonts/KaTeX_Size2-Regular.5976fff.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Size3;
    src:url(/static/fonts/KaTeX_Size3-Regular.1a6c0d6.eot);
    src:url(/static/fonts/KaTeX_Size3-Regular.1a6c0d6.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Size3-Regular.2c1ea03.woff2) format("woff2"),url(/static/fonts/KaTeX_Size3-Regular.943c94f.woff) format("woff"),url(/static/fonts/KaTeX_Size3-Regular.e929f5d.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Size4;
    src:url(/static/fonts/KaTeX_Size4-Regular.5a3cee2.eot);
    src:url(/static/fonts/KaTeX_Size4-Regular.5a3cee2.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Size4-Regular.680d35e.woff2) format("woff2"),url(/static/fonts/KaTeX_Size4-Regular.6853774.woff) format("woff"),url(/static/fonts/KaTeX_Size4-Regular.81ab95e.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article @font-face{
    font-family:KaTeX_Typewriter;
    src:url(/static/fonts/KaTeX_Typewriter-Regular.179ea52.eot);
    src:url(/static/fonts/KaTeX_Typewriter-Regular.179ea52.eot#iefix) format("embedded-opentype"),url(/static/fonts/KaTeX_Typewriter-Regular.d2f65c2.woff2) format("woff2"),url(/static/fonts/KaTeX_Typewriter-Regular.9bd7cfe.woff) format("woff"),url(/static/fonts/KaTeX_Typewriter-Regular.8f16d7f.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
#md-article .katex-display{
    display:block;
    margin:1em 0;
    text-align:center
}
#md-article .katex-display>.katex{
    display:inline-block;
    text-align:initial
}
#md-article .katex{
    font:normal 1.21em KaTeX_Main,Times New Roman,serif;
    line-height:1.2;
    white-space:nowrap;
    text-indent:0;
    text-rendering:auto
}
#md-article .katex *{
    -ms-high-contrast-adjust:none!important
}
#md-article .katex .katex-html{
    display:inline-block
}
#md-article .katex .katex-mathml{
    position:absolute;
    clip:rect(1px,1px,1px,1px);
    padding:0;
    border:0;
    height:1px;
    width:1px;
    overflow:hidden
}
#md-article .katex .base{
    position:relative
}
#md-article .katex .base,#md-article .katex .strut{
    display:inline-block
}
#md-article .katex .mathrm{
    font-style:normal
}
#md-article .katex .mathit,#md-article .katex .textit{
    font-style:italic
}
#md-article .katex .mathit{
    font-family:KaTeX_Math
}
#md-article .katex .mathbf{
    font-family:KaTeX_Main;
    font-weight:700
}
#md-article .katex .amsrm,#md-article .katex .mathbb{
    font-family:KaTeX_AMS
}
#md-article .katex .mathcal{
    font-family:KaTeX_Caligraphic
}
#md-article .katex .mathfrak{
    font-family:KaTeX_Fraktur
}
#md-article .katex .mathtt{
    font-family:KaTeX_Typewriter
}
#md-article .katex .mathscr{
    font-family:KaTeX_Script
}
#md-article .katex .mathsf{
    font-family:KaTeX_SansSerif
}
#md-article .katex .mainit{
    font-family:KaTeX_Main;
    font-style:italic
}
#md-article .katex .mainrm{
    font-family:KaTeX_Main;
    font-style:normal
}
#md-article .katex .mord+.mop{
    margin-left:.16667em
}
#md-article .katex .mord+.mbin{
    margin-left:.22222em
}
#md-article .katex .mord+.mrel{
    margin-left:.27778em
}
#md-article .katex .mop+.mop,#md-article .katex .mop+.mord,#md-article .katex .mord+.minner{
    margin-left:.16667em
}
#md-article .katex .mop+.mrel{
    margin-left:.27778em
}
#md-article .katex .mop+.minner{
    margin-left:.16667em
}
#md-article .katex .mbin+.minner,#md-article .katex .mbin+.mop,#md-article .katex .mbin+.mopen,#md-article .katex .mbin+.mord{
    margin-left:.22222em
}
#md-article .katex .mrel+.minner,#md-article .katex .mrel+.mop,#md-article .katex .mrel+.mopen,#md-article .katex .mrel+.mord{
    margin-left:.27778em
}
#md-article .katex .mclose+.mop{
    margin-left:.16667em
}
#md-article .katex .mclose+.mbin{
    margin-left:.22222em
}
#md-article .katex .mclose+.mrel{
    margin-left:.27778em
}
#md-article .katex .mclose+.minner,#md-article .katex .minner+.mop,#md-article .katex .minner+.mord,#md-article .katex .mpunct+.mclose,#md-article .katex .mpunct+.minner,#md-article .katex .mpunct+.mop,#md-article .katex .mpunct+.mopen,#md-article .katex .mpunct+.mord,#md-article .katex .mpunct+.mpunct,#md-article .katex .mpunct+.mrel{
    margin-left:.16667em
}
#md-article .katex .minner+.mbin{
    margin-left:.22222em
}
#md-article .katex .minner+.mrel{
    margin-left:.27778em
}
#md-article .katex .minner+.minner,#md-article .katex .minner+.mopen,#md-article .katex .minner+.mpunct{
    margin-left:.16667em
}
#md-article .katex .mbin.mtight,#md-article .katex .mclose.mtight,#md-article .katex .minner.mtight,#md-article .katex .mop.mtight,#md-article .katex .mopen.mtight,#md-article .katex .mord.mtight,#md-article .katex .mpunct.mtight,#md-article .katex .mrel.mtight{
    margin-left:0
}
#md-article .katex .mclose+.mop.mtight,#md-article .katex .minner+.mop.mtight,#md-article .katex .mop+.mop.mtight,#md-article .katex .mop+.mord.mtight,#md-article .katex .mord+.mop.mtight{
    margin-left:.16667em
}
#md-article .katex .vlist-t{
    display:inline-table;
    table-layout:fixed
}
#md-article .katex .vlist-r{
    display:table-row
}
#md-article .katex .vlist{
    display:table-cell;
    vertical-align:bottom;
    position:relative
}
#md-article .katex .vlist>span{
    display:block;
    height:0;
    position:relative
}
#md-article .katex .vlist>span>span{
    display:inline-block
}
#md-article .katex .vlist>span>.pstrut{
    overflow:hidden;
    width:0
}
#md-article .katex .vlist-t2{
    margin-right:-2px
}
#md-article .katex .vlist-s{
    display:table-cell;
    vertical-align:bottom;
    font-size:1px;
    width:2px
}
#md-article .katex .msupsub{
    text-align:left
}
#md-article .katex .mfrac>span>span{
    text-align:center
}
#md-article .katex .mfrac .frac-line{
    display:inline-block;
    width:100%
}
#md-article @media screen{
    .katex .mfrac .frac-line,.katex .overline .overline-line,.katex .underline .underline-line{
        min-height:1px
    }
}
#md-article @media screen and (-webkit-min-device-pixel-ratio:2),#md-article screen and (min-resolution:192dpi){
    .katex .mfrac .frac-line,.katex .overline .overline-line,.katex .underline .underline-line{
        min-height:.5px
    }
}
#md-article .katex .mspace{
    display:inline-block
}
#md-article .katex .mspace.negativethinspace{
    margin-left:-.16667em
}
#md-article .katex .mspace.thinspace{
    width:.16667em
}
#md-article .katex .mspace.negativemediumspace{
    margin-left:-.22222em
}
#md-article .katex .mspace.mediumspace{
    width:.22222em
}
#md-article .katex .mspace.thickspace{
    width:.27778em
}
#md-article .katex .mspace.sixmuspace{
    width:.333333em
}
#md-article .katex .mspace.eightmuspace{
    width:.444444em
}
#md-article .katex .mspace.enspace{
    width:.5em
}
#md-article .katex .mspace.twelvemuspace{
    width:.666667em
}
#md-article .katex .mspace.quad{
    width:1em
}
#md-article .katex .mspace.qquad{
    width:2em
}
#md-article .katex .clap,#md-article .katex .llap,#md-article .katex .rlap{
    width:0;
    position:relative
}
#md-article .katex .clap>.inner,#md-article .katex .llap>.inner,#md-article .katex .rlap>.inner{
    position:absolute
}
#md-article .katex .clap>.fix,#md-article .katex .llap>.fix,#md-article .katex .rlap>.fix{
    display:inline-block
}
#md-article .katex .llap>.inner{
    right:0
}
#md-article .katex .clap>.inner,#md-article .katex .rlap>.inner{
    left:0
}
#md-article .katex .clap>.inner>span{
    margin-left:-50%;
    margin-right:50%
}
#md-article .katex .katex-logo .a{
    font-size:.75em;
    margin-left:-.32em;
    position:relative;
    top:-.2em
}
#md-article .katex .katex-logo .t{
    margin-left:-.23em
}
#md-article .katex .katex-logo .e{
    margin-left:-.1667em;
    position:relative;
    top:.2155em
}
#md-article .katex .katex-logo .x{
    margin-left:-.125em
}
#md-article .katex .rule{
    display:inline-block;
    border:0 solid;
    position:relative
}
#md-article .katex .overline .overline-line,#md-article .katex .underline .underline-line{
    display:inline-block;
    width:100%
}
#md-article .katex .sqrt>.root{
    margin-left:.27777778em;
    margin-right:-.55555556em
}
#md-article .katex .fontsize-ensurer,#md-article .katex .sizing{
    display:inline-block
}
#md-article .katex .fontsize-ensurer.reset-size1.size1,#md-article .katex .sizing.reset-size1.size1{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size1.size2,#md-article .katex .sizing.reset-size1.size2{
    font-size:1.2em
}
#md-article .katex .fontsize-ensurer.reset-size1.size3,#md-article .katex .sizing.reset-size1.size3{
    font-size:1.4em
}
#md-article .katex .fontsize-ensurer.reset-size1.size4,#md-article .katex .sizing.reset-size1.size4{
    font-size:1.6em
}
#md-article .katex .fontsize-ensurer.reset-size1.size5,#md-article .katex .sizing.reset-size1.size5{
    font-size:1.8em
}
#md-article .katex .fontsize-ensurer.reset-size1.size6,#md-article .katex .sizing.reset-size1.size6{
    font-size:2em
}
#md-article .katex .fontsize-ensurer.reset-size1.size7,#md-article .katex .sizing.reset-size1.size7{
    font-size:2.4em
}
#md-article .katex .fontsize-ensurer.reset-size1.size8,#md-article .katex .sizing.reset-size1.size8{
    font-size:2.88em
}
#md-article .katex .fontsize-ensurer.reset-size1.size9,#md-article .katex .sizing.reset-size1.size9{
    font-size:3.456em
}
#md-article .katex .fontsize-ensurer.reset-size1.size10,#md-article .katex .sizing.reset-size1.size10{
    font-size:4.148em
}
#md-article .katex .fontsize-ensurer.reset-size1.size11,#md-article .katex .sizing.reset-size1.size11{
    font-size:4.976em
}
#md-article .katex .fontsize-ensurer.reset-size2.size1,#md-article .katex .sizing.reset-size2.size1{
    font-size:.83333333em
}
#md-article .katex .fontsize-ensurer.reset-size2.size2,#md-article .katex .sizing.reset-size2.size2{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size2.size3,#md-article .katex .sizing.reset-size2.size3{
    font-size:1.16666667em
}
#md-article .katex .fontsize-ensurer.reset-size2.size4,#md-article .katex .sizing.reset-size2.size4{
    font-size:1.33333333em
}
#md-article .katex .fontsize-ensurer.reset-size2.size5,#md-article .katex .sizing.reset-size2.size5{
    font-size:1.5em
}
#md-article .katex .fontsize-ensurer.reset-size2.size6,#md-article .katex .sizing.reset-size2.size6{
    font-size:1.66666667em
}
#md-article .katex .fontsize-ensurer.reset-size2.size7,#md-article .katex .sizing.reset-size2.size7{
    font-size:2em
}
#md-article .katex .fontsize-ensurer.reset-size2.size8,#md-article .katex .sizing.reset-size2.size8{
    font-size:2.4em
}
#md-article .katex .fontsize-ensurer.reset-size2.size9,#md-article .katex .sizing.reset-size2.size9{
    font-size:2.88em
}
#md-article .katex .fontsize-ensurer.reset-size2.size10,#md-article .katex .sizing.reset-size2.size10{
    font-size:3.45666667em
}
#md-article .katex .fontsize-ensurer.reset-size2.size11,#md-article .katex .sizing.reset-size2.size11{
    font-size:4.14666667em
}
#md-article .katex .fontsize-ensurer.reset-size3.size1,#md-article .katex .sizing.reset-size3.size1{
    font-size:.71428571em
}
#md-article .katex .fontsize-ensurer.reset-size3.size2,#md-article .katex .sizing.reset-size3.size2{
    font-size:.85714286em
}
#md-article .katex .fontsize-ensurer.reset-size3.size3,#md-article .katex .sizing.reset-size3.size3{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size3.size4,#md-article .katex .sizing.reset-size3.size4{
    font-size:1.14285714em
}
#md-article .katex .fontsize-ensurer.reset-size3.size5,#md-article .katex .sizing.reset-size3.size5{
    font-size:1.28571429em
}
#md-article .katex .fontsize-ensurer.reset-size3.size6,#md-article .katex .sizing.reset-size3.size6{
    font-size:1.42857143em
}
#md-article .katex .fontsize-ensurer.reset-size3.size7,#md-article .katex .sizing.reset-size3.size7{
    font-size:1.71428571em
}
#md-article .katex .fontsize-ensurer.reset-size3.size8,#md-article .katex .sizing.reset-size3.size8{
    font-size:2.05714286em
}
#md-article .katex .fontsize-ensurer.reset-size3.size9,#md-article .katex .sizing.reset-size3.size9{
    font-size:2.46857143em
}
#md-article .katex .fontsize-ensurer.reset-size3.size10,#md-article .katex .sizing.reset-size3.size10{
    font-size:2.96285714em
}
#md-article .katex .fontsize-ensurer.reset-size3.size11,#md-article .katex .sizing.reset-size3.size11{
    font-size:3.55428571em
}
#md-article .katex .fontsize-ensurer.reset-size4.size1,#md-article .katex .sizing.reset-size4.size1{
    font-size:.625em
}
#md-article .katex .fontsize-ensurer.reset-size4.size2,#md-article .katex .sizing.reset-size4.size2{
    font-size:.75em
}
#md-article .katex .fontsize-ensurer.reset-size4.size3,#md-article .katex .sizing.reset-size4.size3{
    font-size:.875em
}
#md-article .katex .fontsize-ensurer.reset-size4.size4,#md-article .katex .sizing.reset-size4.size4{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size4.size5,#md-article .katex .sizing.reset-size4.size5{
    font-size:1.125em
}
#md-article .katex .fontsize-ensurer.reset-size4.size6,#md-article .katex .sizing.reset-size4.size6{
    font-size:1.25em
}
#md-article .katex .fontsize-ensurer.reset-size4.size7,#md-article .katex .sizing.reset-size4.size7{
    font-size:1.5em
}
#md-article .katex .fontsize-ensurer.reset-size4.size8,#md-article .katex .sizing.reset-size4.size8{
    font-size:1.8em
}
#md-article .katex .fontsize-ensurer.reset-size4.size9,#md-article .katex .sizing.reset-size4.size9{
    font-size:2.16em
}
#md-article .katex .fontsize-ensurer.reset-size4.size10,#md-article .katex .sizing.reset-size4.size10{
    font-size:2.5925em
}
#md-article .katex .fontsize-ensurer.reset-size4.size11,#md-article .katex .sizing.reset-size4.size11{
    font-size:3.11em
}
#md-article .katex .fontsize-ensurer.reset-size5.size1,#md-article .katex .sizing.reset-size5.size1{
    font-size:.55555556em
}
#md-article .katex .fontsize-ensurer.reset-size5.size2,#md-article .katex .sizing.reset-size5.size2{
    font-size:.66666667em
}
#md-article .katex .fontsize-ensurer.reset-size5.size3,#md-article .katex .sizing.reset-size5.size3{
    font-size:.77777778em
}
#md-article .katex .fontsize-ensurer.reset-size5.size4,#md-article .katex .sizing.reset-size5.size4{
    font-size:.88888889em
}
#md-article .katex .fontsize-ensurer.reset-size5.size5,#md-article .katex .sizing.reset-size5.size5{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size5.size6,#md-article .katex .sizing.reset-size5.size6{
    font-size:1.11111111em
}
#md-article .katex .fontsize-ensurer.reset-size5.size7,#md-article .katex .sizing.reset-size5.size7{
    font-size:1.33333333em
}
#md-article .katex .fontsize-ensurer.reset-size5.size8,#md-article .katex .sizing.reset-size5.size8{
    font-size:1.6em
}
#md-article .katex .fontsize-ensurer.reset-size5.size9,#md-article .katex .sizing.reset-size5.size9{
    font-size:1.92em
}
#md-article .katex .fontsize-ensurer.reset-size5.size10,#md-article .katex .sizing.reset-size5.size10{
    font-size:2.30444444em
}
#md-article .katex .fontsize-ensurer.reset-size5.size11,#md-article .katex .sizing.reset-size5.size11{
    font-size:2.76444444em
}
#md-article .katex .fontsize-ensurer.reset-size6.size1,#md-article .katex .sizing.reset-size6.size1{
    font-size:.5em
}
#md-article .katex .fontsize-ensurer.reset-size6.size2,#md-article .katex .sizing.reset-size6.size2{
    font-size:.6em
}
#md-article .katex .fontsize-ensurer.reset-size6.size3,#md-article .katex .sizing.reset-size6.size3{
    font-size:.7em
}
#md-article .katex .fontsize-ensurer.reset-size6.size4,#md-article .katex .sizing.reset-size6.size4{
    font-size:.8em
}
#md-article .katex .fontsize-ensurer.reset-size6.size5,#md-article .katex .sizing.reset-size6.size5{
    font-size:.9em
}
#md-article .katex .fontsize-ensurer.reset-size6.size6,#md-article .katex .sizing.reset-size6.size6{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size6.size7,#md-article .katex .sizing.reset-size6.size7{
    font-size:1.2em
}
#md-article .katex .fontsize-ensurer.reset-size6.size8,#md-article .katex .sizing.reset-size6.size8{
    font-size:1.44em
}
#md-article .katex .fontsize-ensurer.reset-size6.size9,#md-article .katex .sizing.reset-size6.size9{
    font-size:1.728em
}
#md-article .katex .fontsize-ensurer.reset-size6.size10,#md-article .katex .sizing.reset-size6.size10{
    font-size:2.074em
}
#md-article .katex .fontsize-ensurer.reset-size6.size11,#md-article .katex .sizing.reset-size6.size11{
    font-size:2.488em
}
#md-article .katex .fontsize-ensurer.reset-size7.size1,#md-article .katex .sizing.reset-size7.size1{
    font-size:.41666667em
}
#md-article .katex .fontsize-ensurer.reset-size7.size2,#md-article .katex .sizing.reset-size7.size2{
    font-size:.5em
}
#md-article .katex .fontsize-ensurer.reset-size7.size3,#md-article .katex .sizing.reset-size7.size3{
    font-size:.58333333em
}
#md-article .katex .fontsize-ensurer.reset-size7.size4,#md-article .katex .sizing.reset-size7.size4{
    font-size:.66666667em
}
#md-article .katex .fontsize-ensurer.reset-size7.size5,#md-article .katex .sizing.reset-size7.size5{
    font-size:.75em
}
#md-article .katex .fontsize-ensurer.reset-size7.size6,#md-article .katex .sizing.reset-size7.size6{
    font-size:.83333333em
}
#md-article .katex .fontsize-ensurer.reset-size7.size7,#md-article .katex .sizing.reset-size7.size7{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size7.size8,#md-article .katex .sizing.reset-size7.size8{
    font-size:1.2em
}
#md-article .katex .fontsize-ensurer.reset-size7.size9,#md-article .katex .sizing.reset-size7.size9{
    font-size:1.44em
}
#md-article .katex .fontsize-ensurer.reset-size7.size10,#md-article .katex .sizing.reset-size7.size10{
    font-size:1.72833333em
}
#md-article .katex .fontsize-ensurer.reset-size7.size11,#md-article .katex .sizing.reset-size7.size11{
    font-size:2.07333333em
}
#md-article .katex .fontsize-ensurer.reset-size8.size1,#md-article .katex .sizing.reset-size8.size1{
    font-size:.34722222em
}
#md-article .katex .fontsize-ensurer.reset-size8.size2,#md-article .katex .sizing.reset-size8.size2{
    font-size:.41666667em
}
#md-article .katex .fontsize-ensurer.reset-size8.size3,#md-article .katex .sizing.reset-size8.size3{
    font-size:.48611111em
}
#md-article .katex .fontsize-ensurer.reset-size8.size4,#md-article .katex .sizing.reset-size8.size4{
    font-size:.55555556em
}
#md-article .katex .fontsize-ensurer.reset-size8.size5,#md-article .katex .sizing.reset-size8.size5{
    font-size:.625em
}
#md-article .katex .fontsize-ensurer.reset-size8.size6,#md-article .katex .sizing.reset-size8.size6{
    font-size:.69444444em
}
#md-article .katex .fontsize-ensurer.reset-size8.size7,#md-article .katex .sizing.reset-size8.size7{
    font-size:.83333333em
}
#md-article .katex .fontsize-ensurer.reset-size8.size8,#md-article .katex .sizing.reset-size8.size8{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size8.size9,#md-article .katex .sizing.reset-size8.size9{
    font-size:1.2em
}
#md-article .katex .fontsize-ensurer.reset-size8.size10,#md-article .katex .sizing.reset-size8.size10{
    font-size:1.44027778em
}
#md-article .katex .fontsize-ensurer.reset-size8.size11,#md-article .katex .sizing.reset-size8.size11{
    font-size:1.72777778em
}
#md-article .katex .fontsize-ensurer.reset-size9.size1,#md-article .katex .sizing.reset-size9.size1{
    font-size:.28935185em
}
#md-article .katex .fontsize-ensurer.reset-size9.size2,#md-article .katex .sizing.reset-size9.size2{
    font-size:.34722222em
}
#md-article .katex .fontsize-ensurer.reset-size9.size3,#md-article .katex .sizing.reset-size9.size3{
    font-size:.40509259em
}
#md-article .katex .fontsize-ensurer.reset-size9.size4,#md-article .katex .sizing.reset-size9.size4{
    font-size:.46296296em
}
#md-article .katex .fontsize-ensurer.reset-size9.size5,#md-article .katex .sizing.reset-size9.size5{
    font-size:.52083333em
}
#md-article .katex .fontsize-ensurer.reset-size9.size6,#md-article .katex .sizing.reset-size9.size6{
    font-size:.5787037em
}
#md-article .katex .fontsize-ensurer.reset-size9.size7,#md-article .katex .sizing.reset-size9.size7{
    font-size:.69444444em
}
#md-article .katex .fontsize-ensurer.reset-size9.size8,#md-article .katex .sizing.reset-size9.size8{
    font-size:.83333333em
}
#md-article .katex .fontsize-ensurer.reset-size9.size9,#md-article .katex .sizing.reset-size9.size9{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size9.size10,#md-article .katex .sizing.reset-size9.size10{
    font-size:1.20023148em
}
#md-article .katex .fontsize-ensurer.reset-size9.size11,#md-article .katex .sizing.reset-size9.size11{
    font-size:1.43981481em
}
#md-article .katex .fontsize-ensurer.reset-size10.size1,#md-article .katex .sizing.reset-size10.size1{
    font-size:.24108004em
}
#md-article .katex .fontsize-ensurer.reset-size10.size2,#md-article .katex .sizing.reset-size10.size2{
    font-size:.28929605em
}
#md-article .katex .fontsize-ensurer.reset-size10.size3,#md-article .katex .sizing.reset-size10.size3{
    font-size:.33751205em
}
#md-article .katex .fontsize-ensurer.reset-size10.size4,#md-article .katex .sizing.reset-size10.size4{
    font-size:.38572806em
}
#md-article .katex .fontsize-ensurer.reset-size10.size5,#md-article .katex .sizing.reset-size10.size5{
    font-size:.43394407em
}
#md-article .katex .fontsize-ensurer.reset-size10.size6,#md-article .katex .sizing.reset-size10.size6{
    font-size:.48216008em
}
#md-article .katex .fontsize-ensurer.reset-size10.size7,#md-article .katex .sizing.reset-size10.size7{
    font-size:.57859209em
}
#md-article .katex .fontsize-ensurer.reset-size10.size8,#md-article .katex .sizing.reset-size10.size8{
    font-size:.69431051em
}
#md-article .katex .fontsize-ensurer.reset-size10.size9,#md-article .katex .sizing.reset-size10.size9{
    font-size:.83317261em
}
#md-article .katex .fontsize-ensurer.reset-size10.size10,#md-article .katex .sizing.reset-size10.size10{
    font-size:1em
}
#md-article .katex .fontsize-ensurer.reset-size10.size11,#md-article .katex .sizing.reset-size10.size11{
    font-size:1.19961427em
}
#md-article .katex .fontsize-ensurer.reset-size11.size1,#md-article .katex .sizing.reset-size11.size1{
    font-size:.20096463em
}
#md-article .katex .fontsize-ensurer.reset-size11.size2,#md-article .katex .sizing.reset-size11.size2{
    font-size:.24115756em
}
#md-article .katex .fontsize-ensurer.reset-size11.size3,#md-article .katex .sizing.reset-size11.size3{
    font-size:.28135048em
}
#md-article .katex .fontsize-ensurer.reset-size11.size4,#md-article .katex .sizing.reset-size11.size4{
    font-size:.32154341em
}
#md-article .katex .fontsize-ensurer.reset-size11.size5,#md-article .katex .sizing.reset-size11.size5{
    font-size:.36173633em
}
#md-article .katex .fontsize-ensurer.reset-size11.size6,#md-article .katex .sizing.reset-size11.size6{
    font-size:.40192926em
}
#md-article .katex .fontsize-ensurer.reset-size11.size7,#md-article .katex .sizing.reset-size11.size7{
    font-size:.48231511em
}
#md-article .katex .fontsize-ensurer.reset-size11.size8,#md-article .katex .sizing.reset-size11.size8{
    font-size:.57877814em
}
#md-article .katex .fontsize-ensurer.reset-size11.size9,#md-article .katex .sizing.reset-size11.size9{
    font-size:.69453376em
}
#md-article .katex .fontsize-ensurer.reset-size11.size10,#md-article .katex .sizing.reset-size11.size10{
    font-size:.83360129em
}
#md-article .katex .fontsize-ensurer.reset-size11.size11,#md-article .katex .sizing.reset-size11.size11{
    font-size:1em
}
#md-article .katex .delimsizing.size1{
    font-family:KaTeX_Size1
}
#md-article .katex .delimsizing.size2{
    font-family:KaTeX_Size2
}
#md-article .katex .delimsizing.size3{
    font-family:KaTeX_Size3
}
#md-article .katex .delimsizing.size4{
    font-family:KaTeX_Size4
}
#md-article .katex .delimsizing.mult .delim-size1>span{
    font-family:KaTeX_Size1
}
#md-article .katex .delimsizing.mult .delim-size4>span{
    font-family:KaTeX_Size4
}
#md-article .katex .nulldelimiter{
    display:inline-block;
    width:.12em
}
#md-article .katex .delimcenter,#md-article .katex .op-symbol{
    position:relative
}
#md-article .katex .op-symbol.small-op{
    font-family:KaTeX_Size1
}
#md-article .katex .op-symbol.large-op{
    font-family:KaTeX_Size2
}
#md-article .katex .accent>.vlist-t,#md-article .katex .op-limits>.vlist-t{
    text-align:center
}
#md-article .katex .accent .accent-body>span{
    width:0
}
#md-article .katex .accent .accent-body.accent-vec>span{
    position:relative;
    left:.326em
}
#md-article .katex .accent .accent-body.accent-hungarian>span{
    position:relative;
    left:.25em
}
#md-article .katex .mtable .vertical-separator{
    display:inline-block;
    margin:0 -.025em;
    width:.05em
}
#md-article @media screen{
    .katex .mtable .vertical-separator{
        min-width:1px
    }
}
#md-article @media screen and (-webkit-min-device-pixel-ratio:2),#md-article screen and (min-resolution:192dpi){
    .katex .mtable .vertical-separator{
        min-width:.5px
    }
}
#md-article .katex .mtable .arraycolsep{
    display:inline-block
}
#md-article .katex .mtable .col-align-c>.vlist-t{
    text-align:center
}
#md-article .katex .mtable .col-align-l>.vlist-t{
    text-align:left
}
#md-article .katex .mtable .col-align-r>.vlist-t{
    text-align:right
}
#md-article .katex .svg-align{
    text-align:left
}
#md-article .katex svg{
    display:block;
    position:absolute;
    width:100%
}
#md-article .katex svg path{
    fill:currentColor
}
#md-article .katex svg line{
    stroke:currentColor
}
#md-article .katex .stretchy{
    width:100%;
    display:block
}
#md-article .katex .stretchy:after,#md-article .katex .stretchy:before{
    content:""
}
#md-article .katex .hide-tail{
    width:100%;
    position:relative;
    overflow:hidden
}
#md-article .katex .halfarrow-left{
    position:absolute;
    left:0;
    width:50.1%;
    overflow:hidden
}
#md-article .katex .halfarrow-right{
    position:absolute;
    right:0;
    width:50%;
    overflow:hidden
}
#md-article .katex .brace-left{
    position:absolute;
    left:0;
    width:25.1%;
    overflow:hidden
}
#md-article .katex .brace-center{
    position:absolute;
    left:25%;
    width:50%;
    overflow:hidden
}
#md-article .katex .brace-right{
    position:absolute;
    right:0;
    width:25.1%;
    overflow:hidden
}
#md-article .katex .x-arrow-pad{
    padding:0 .5em
}
#md-article .katex .mover,#md-article .katex .munder,#md-article .katex .x-arrow{
    text-align:center
}
#md-article .katex .boxpad{
    padding:0 .3em
}
#md-article .katex .fbox{
    box-sizing:border-box;
    border:.04em solid #000
}
#md-article .katex .fcolorbox{
    box-sizing:border-box;
    border:.04em solid
}
#md-article .katex .cancel-pad{
    padding:0 .2em
}
#md-article .katex .cancel-lap+.mbin,#md-article .katex .cancel-lap+.mord,#md-article .katex .cancel-lap+.msupsub,#md-article .katex .mbin+.cancel-lap,#md-article .katex .mord+.cancel-lap{
    margin-left:-.2em
}
#md-article .katex .sout{
    border-bottom-style:solid;
    border-bottom-width:.08em
}
#md-article @font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:400;
    src:url(/static/fonts/lato-normal.27bd77b.woff) format("woff")
}
#md-article @font-face{
    font-family:Lato;
    font-style:italic;
    font-weight:400;
    src:url(/static/fonts/lato-normal-italic.f28f2d6.woff) format("woff")
}
#md-article @font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:600;
    src:url(/static/fonts/lato-black.f80bda6.woff) format("woff")
}
#md-article @font-face{
    font-family:Lato;
    font-style:italic;
    font-weight:600;
    src:url(/static/fonts/lato-black-italic.798eafd.woff) format("woff")
}
#md-article @font-face{
    font-family:Roboto Mono;
    font-style:normal;
    font-weight:400;
    src:url(/static/fonts/RobotoMono-Regular.0b6a547.woff) format("woff")
}
#md-article @font-face{
    font-family:Roboto Mono;
    font-style:normal;
    font-weight:600;
    src:url(/static/fonts/RobotoMono-Bold.819f3b2.woff) format("woff")
}
#md-article .prism *,#md-article .token.pre.gfm *{
    font-weight:inherit!important
}
#md-article .prism .token.cdata,#md-article .prism .token.comment,#md-article .prism .token.doctype,#md-article .prism .token.prolog,#md-article .token.pre.gfm .token.cdata,#md-article .token.pre.gfm .token.comment,#md-article .token.pre.gfm .token.doctype,#md-article .token.pre.gfm .token.prolog{
    color:#708090
}
#md-article .prism .token.punctuation,#md-article .token.pre.gfm .token.punctuation{
    color:#999
}
#md-article .prism .namespace,#md-article .token.pre.gfm .namespace{
    opacity:.7
}
#md-article .prism .token.boolean,#md-article .prism .token.constant,#md-article .prism .token.deleted,#md-article .prism .token.number,#md-article .prism .token.property,#md-article .prism .token.symbol,#md-article .prism .token.tag,#md-article .token.pre.gfm .token.boolean,#md-article .token.pre.gfm .token.constant,#md-article .token.pre.gfm .token.deleted,#md-article .token.pre.gfm .token.number,#md-article .token.pre.gfm .token.property,#md-article .token.pre.gfm .token.symbol,#md-article .token.pre.gfm .token.tag{
    color:#905
}
#md-article .prism .token.attr-name,#md-article .prism .token.builtin,#md-article .prism .token.char,#md-article .prism .token.inserted,#md-article .prism .token.selector,#md-article .prism .token.string,#md-article .token.pre.gfm .token.attr-name,#md-article .token.pre.gfm .token.builtin,#md-article .token.pre.gfm .token.char,#md-article .token.pre.gfm .token.inserted,#md-article .token.pre.gfm .token.selector,#md-article .token.pre.gfm .token.string{
    color:#690
}
#md-article .prism .language-css .token.string,#md-article .prism .style .token.string,#md-article .prism .token.entity,#md-article .prism .token.operator,#md-article .prism .token.url,#md-article .token.pre.gfm .language-css .token.string,#md-article .token.pre.gfm .style .token.string,#md-article .token.pre.gfm .token.entity,#md-article .token.pre.gfm .token.operator,#md-article .token.pre.gfm .token.url{
    color:#a67f59
}
#md-article .prism .token.atrule,#md-article .prism .token.attr-value,#md-article .prism .token.keyword,#md-article .token.pre.gfm .token.atrule,#md-article .token.pre.gfm .token.attr-value,#md-article .token.pre.gfm .token.keyword{
    color:#07a
}
#md-article .prism .token.function,#md-article .token.pre.gfm .token.function{
    color:#dd4a68
}
#md-article .prism .token.important,#md-article .prism .token.regex,#md-article .prism .token.variable,#md-article .token.pre.gfm .token.important,#md-article .token.pre.gfm .token.regex,#md-article .token.pre.gfm .token.variable{
    color:#e90
}
#md-article .prism .token.bold,#md-article .prism .token.important,#md-article .token.pre.gfm .token.bold,#md-article .token.pre.gfm .token.important{
    font-weight:500
}
#md-article .prism .token.italic,#md-article .token.pre.gfm .token.italic{
    font-style:italic
}
#md-article .mermaid{
    font-size:16px
}
#md-article .mermaid svg{
    color:rgba(0,0,0,.75);
    width:100%;
    max-width:100%
}
#md-article .app--dark .mermaid svg{
    color:hsla(0,0%,100%,.75)
}
#md-article .mermaid svg *{
    font-family:Lato,Helvetica Neue,Helvetica,sans-serif
}
#md-article .mermaid .mermaid .label{
    color:#333
}
#md-article .mermaid .node circle,#md-article .mermaid .node ellipse,#md-article .mermaid .node polygon,#md-article .mermaid .node rect{
    fill:#eee;
    stroke:#999;
    stroke-width:1px
}
#md-article .mermaid .edgePath .path{
    stroke:#666;
    stroke-width:1.5px
}
#md-article .mermaid .edgeLabel{
    background-color:#fff
}
#md-article .mermaid .cluster rect{
    fill:#eaf2fb!important;
    rx:4!important;
    stroke:#26a!important;
    stroke-width:1px!important
}
#md-article .mermaid .cluster text{
    fill:#333
}
#md-article .mermaid .actor{
    stroke:#999;
    fill:#eee
}
#md-article .mermaid text.actor{
    fill:#333;
    stroke:none
}
#md-article .mermaid .actor-line{
    stroke:#666
}
#md-article .mermaid .messageLine0{
    marker-end:"url(#arrowhead)"
}
#md-article .mermaid .messageLine0,#md-article .mermaid .messageLine1{
    stroke-width:1.5;
    stroke-dasharray:"2 2";
    stroke:#333
}
#md-article .mermaid #arrowhead{
    fill:#333
}
#md-article .mermaid #crosshead path{
    fill:#333!important;
    stroke:#333!important
}
#md-article .mermaid .messageText{
    fill:#333;
    stroke:none
}
#md-article .mermaid .labelBox{
    stroke:#999;
    fill:#eee
}
#md-article .mermaid .labelText,#md-article .mermaid .loopText{
    fill:#fff;
    stroke:none
}
#md-article .mermaid .loopLine{
    stroke-width:2;
    stroke-dasharray:"2 2";
    marker-end:"url(#arrowhead)";
    stroke:#999
}
#md-article .mermaid .note{
    stroke:#770;
    fill:#ffa
}
#md-article .mermaid .noteText{
    fill:#000;
    stroke:none;
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px
}
#md-article .mermaid .section{
    stroke:none;
    opacity:.2
}
#md-article .mermaid .section0,#md-article .mermaid .section2{
    fill:#7fb2e6
}
#md-article .mermaid .section1,#md-article .mermaid .section3{
    fill:#fff;
    opacity:.2
}
#md-article .mermaid .sectionTitle0,#md-article .mermaid .sectionTitle1,#md-article .mermaid .sectionTitle2,#md-article .mermaid .sectionTitle3{
    fill:#333
}
#md-article .mermaid .sectionTitle{
    text-anchor:start;
    font-size:11px
}
#md-article .mermaid .grid .tick{
    stroke:#e5e5e5;
    opacity:.3;
    shape-rendering:crispEdges
}
#md-article .mermaid .grid path{
    stroke-width:0
}
#md-article .mermaid .today{
    fill:none;
    stroke:#d42;
    stroke-width:2px
}
#md-article .mermaid .task{
    stroke-width:2
}
#md-article .mermaid .taskText{
    text-anchor:middle;
    font-size:11px
}
#md-article .mermaid .taskTextOutsideRight{
    fill:#333;
    text-anchor:start;
    font-size:11px
}
#md-article .mermaid .taskTextOutsideLeft{
    fill:#333;
    text-anchor:end;
    font-size:11px
}
#md-article .mermaid .taskText0,#md-article .mermaid .taskText1,#md-article .mermaid .taskText2,#md-article .mermaid .taskText3{
    fill:#fff
}
#md-article .mermaid .task0,#md-article .mermaid .task1,#md-article .mermaid .task2,#md-article .mermaid .task3{
    fill:#26a;
    stroke:#194c7f
}
#md-article .mermaid .taskTextOutside0,#md-article .mermaid .taskTextOutside1,#md-article .mermaid .taskTextOutside2,#md-article .mermaid .taskTextOutside3{
    fill:#333
}
#md-article .mermaid .active0,#md-article .mermaid .active1,#md-article .mermaid .active2,#md-article .mermaid .active3{
    fill:#eee;
    stroke:#194c7f
}
#md-article .mermaid .activeText0,#md-article .mermaid .activeText1,#md-article .mermaid .activeText2,#md-article .mermaid .activeText3{
    fill:#333!important
}
#md-article .mermaid .done0,#md-article .mermaid .done1,#md-article .mermaid .done2,#md-article .mermaid .done3{
    stroke:#666;
    fill:#bbb;
    stroke-width:2
}
#md-article .mermaid .doneText0,#md-article .mermaid .doneText1,#md-article .mermaid .doneText2,#md-article .mermaid .doneText3{
    fill:#333!important
}
#md-article .mermaid .crit0,#md-article .mermaid .crit1,#md-article .mermaid .crit2,#md-article .mermaid .crit3{
    stroke:#b1361b;
    fill:#d42;
    stroke-width:2
}
#md-article .mermaid .activeCrit0,#md-article .mermaid .activeCrit1,#md-article .mermaid .activeCrit2,#md-article .mermaid .activeCrit3{
    stroke:#b1361b;
    fill:#eee;
    stroke-width:2
}
#md-article .mermaid .doneCrit0,#md-article .mermaid .doneCrit1,#md-article .mermaid .doneCrit2,#md-article .mermaid .doneCrit3{
    stroke:#b1361b;
    fill:#bbb;
    stroke-width:2;
    cursor:pointer
}
#md-article .mermaid .activeCritText0,#md-article .mermaid .activeCritText1,#md-article .mermaid .activeCritText2,#md-article .mermaid .activeCritText3,#md-article .mermaid .doneCritText0,#md-article .mermaid .doneCritText1,#md-article .mermaid .doneCritText2,#md-article .mermaid .doneCritText3{
    fill:#333!important
}
#md-article .mermaid .titleText{
    text-anchor:middle;
    font-size:18px;
    fill:#333
}
#md-article .mermaid g.classGroup text{
    fill:#999;
    stroke:none;
    font-family:trebuchet ms,verdana,arial;
    font-size:10px
}
#md-article .mermaid g.classGroup rect{
    fill:#eee;
    stroke:#999
}
#md-article .mermaid g.classGroup line{
    stroke:#999;
    stroke-width:1
}
#md-article .mermaid svg .classLabel .box{
    stroke:none;
    stroke-width:0;
    fill:#eee;
    opacity:.5
}
#md-article .mermaid svg .classLabel .label{
    fill:#999;
    font-size:10px
}
#md-article .mermaid .relation{
    stroke:#999;
    stroke-width:1;
    fill:none
}
#md-article .mermaid #compositionEnd,#md-article .mermaid #compositionStart,#md-article .mermaid .composition{
    fill:#999;
    stroke:#999;
    stroke-width:1
}
#md-article .mermaid #aggregationEnd,#md-article .mermaid #aggregationStart,#md-article .mermaid .aggregation{
    fill:#eee;
    stroke:#999;
    stroke-width:1
}
#md-article .mermaid #dependencyEnd,#md-article .mermaid #dependencyStart,#md-article .mermaid #extensionEnd,#md-article .mermaid #extensionStart{
    fill:#999;
    stroke:#999;
    stroke-width:1
}
#md-article .mermaid .node text{
    font-family:Arial,Helvetica,sans-serif;
    font-size:14px
}
#md-article .mermaid div.mermaidTooltip{
    position:absolute;
    text-align:center;
    max-width:200px;
    padding:2px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    background:#eaf2fb;
    border:1px solid #26a;
    border-radius:2px;
    pointer-events:none;
    z-index:100
}
#md-article .app--dark .mermaid .label{
    color:#323d47
}
#md-article .app--dark .mermaid .node circle,#md-article .app--dark .mermaid .node ellipse,#md-article .app--dark .mermaid .node polygon,#md-article .app--dark .mermaid .node rect{
    fill:#bdd5ea;
    stroke:#81b1db;
    stroke-width:1px
}
#md-article .app--dark .mermaid .edgePath .path{
    stroke:#d3d3d3
}
#md-article .app--dark .mermaid .edgeLabel{
    background-color:#e8e8e8
}
#md-article .app--dark .mermaid .cluster rect{
    fill:#6d6d65!important;
    rx:4!important;
    stroke:hsla(0,0%,100%,.25)!important;
    stroke-width:1px!important
}
#md-article .app--dark .mermaid .cluster text{
    fill:#f9fffe
}
#md-article .app--dark .mermaid .actor{
    stroke:#81b1db;
    fill:#bdd5ea
}
#md-article .app--dark .mermaid text.actor{
    fill:#000;
    stroke:none
}
#md-article .app--dark .mermaid .actor-line{
    stroke:#d3d3d3
}
#md-article .app--dark .mermaid .messageLine0{
    marker-end:"url(#arrowhead)"
}
#md-article .app--dark .mermaid .messageLine0,#md-article .app--dark .mermaid .messageLine1{
    stroke-width:1.5;
    stroke-dasharray:"2 2";
    stroke:#d3d3d3
}
#md-article .app--dark .mermaid #arrowhead{
    fill:#d3d3d3!important
}
#md-article .app--dark .mermaid #crosshead path{
    fill:#d3d3d3!important;
    stroke:#d3d3d3!important
}
#md-article .app--dark .mermaid .messageText{
    fill:#d3d3d3;
    stroke:none
}
#md-article .app--dark .mermaid .labelBox{
    stroke:#81b1db;
    fill:#bdd5ea
}
#md-article .app--dark .mermaid .labelText{
    fill:#323d47;
    stroke:none
}
#md-article .app--dark .mermaid .loopText{
    fill:#d3d3d3;
    stroke:none
}
#md-article .app--dark .mermaid .loopLine{
    stroke-width:2;
    stroke-dasharray:"2 2";
    marker-end:"url(#arrowhead)";
    stroke:#81b1db
}
#md-article .app--dark .mermaid .note{
    stroke:hsla(0,0%,100%,.25);
    fill:#fff5ad
}
#md-article .app--dark .mermaid .noteText{
    fill:#000;
    stroke:none;
    font-family:trebuchet ms,verdana,arial;
    font-size:14px
}
#md-article .app--dark .mermaid .section{
    stroke:none;
    opacity:.2
}
#md-article .app--dark .mermaid .section0{
    fill:hsla(0,0%,100%,.3)
}
#md-article .app--dark .mermaid .section2{
    fill:#eae8b9
}
#md-article .app--dark .mermaid .section1,#md-article .app--dark .mermaid .section3{
    fill:#fff;
    opacity:.2
}
#md-article .app--dark .mermaid .sectionTitle0,#md-article .app--dark .mermaid .sectionTitle1,#md-article .app--dark .mermaid .sectionTitle2,#md-article .app--dark .mermaid .sectionTitle3{
    fill:#f9fffe
}
#md-article .app--dark .mermaid .sectionTitle{
    text-anchor:start;
    font-size:11px
}
#md-article .app--dark .mermaid .grid .tick{
    stroke:hsla(0,0%,100%,.3);
    opacity:.3;
    shape-rendering:crispEdges
}
#md-article .app--dark .mermaid .grid .tick text{
    fill:#d3d3d3;
    opacity:.5
}
#md-article .app--dark .mermaid .grid path{
    stroke-width:0
}
#md-article .app--dark .mermaid .today{
    fill:none;
    stroke:#db5757;
    stroke-width:2px
}
#md-article .app--dark .mermaid .task{
    stroke-width:1
}
#md-article .app--dark .mermaid .taskText{
    text-anchor:middle;
    font-size:11px
}
#md-article .app--dark .mermaid .taskTextOutsideRight{
    fill:#323d47;
    text-anchor:start;
    font-size:11px
}
#md-article .app--dark .mermaid .taskTextOutsideLeft{
    fill:#323d47;
    text-anchor:end;
    font-size:11px
}
#md-article .app--dark .mermaid .taskText0,#md-article .app--dark .mermaid .taskText1,#md-article .app--dark .mermaid .taskText2,#md-article .app--dark .mermaid .taskText3{
    fill:#323d47
}
#md-article .app--dark .mermaid .task0,#md-article .app--dark .mermaid .task1,#md-article .app--dark .mermaid .task2,#md-article .app--dark .mermaid .task3{
    fill:#bdd5ea;
    stroke:hsla(0,0%,100%,.5)
}
#md-article .app--dark .mermaid .taskTextOutside0,#md-article .app--dark .mermaid .taskTextOutside1,#md-article .app--dark .mermaid .taskTextOutside2,#md-article .app--dark .mermaid .taskTextOutside3{
    fill:#d3d3d3
}
#md-article .app--dark .mermaid .active0,#md-article .app--dark .mermaid .active1,#md-article .app--dark .mermaid .active2,#md-article .app--dark .mermaid .active3{
    fill:#81b1db;
    stroke:hsla(0,0%,100%,.5)
}
#md-article .app--dark .mermaid .activeText0,#md-article .app--dark .mermaid .activeText1,#md-article .app--dark .mermaid .activeText2,#md-article .app--dark .mermaid .activeText3{
    fill:#323d47!important
}
#md-article .app--dark .mermaid .done0,#md-article .app--dark .mermaid .done1,#md-article .app--dark .mermaid .done2,#md-article .app--dark .mermaid .done3{
    fill:#d3d3d3
}
#md-article .app--dark .mermaid .doneText0,#md-article .app--dark .mermaid .doneText1,#md-article .app--dark .mermaid .doneText2,#md-article .app--dark .mermaid .doneText3{
    fill:#323d47!important
}
#md-article .app--dark .mermaid .crit0,#md-article .app--dark .mermaid .crit1,#md-article .app--dark .mermaid .crit2,#md-article .app--dark .mermaid .crit3{
    stroke:#e83737;
    fill:#e83737;
    stroke-width:2
}
#md-article .app--dark .mermaid .activeCrit0,#md-article .app--dark .mermaid .activeCrit1,#md-article .app--dark .mermaid .activeCrit2,#md-article .app--dark .mermaid .activeCrit3{
    stroke:#e83737;
    fill:#81b1db;
    stroke-width:2
}
#md-article .app--dark .mermaid .doneCrit0,#md-article .app--dark .mermaid .doneCrit1,#md-article .app--dark .mermaid .doneCrit2,#md-article .app--dark .mermaid .doneCrit3{
    stroke:#e83737;
    fill:#d3d3d3;
    stroke-width:1;
    cursor:pointer;
    shape-rendering:crispEdges
}
#md-article .app--dark .mermaid .doneCritText0,#md-article .app--dark .mermaid .doneCritText1,#md-article .app--dark .mermaid .doneCritText2,#md-article .app--dark .mermaid .doneCritText3{
    fill:#d3d3d3!important
}
#md-article .app--dark .mermaid .activeCritText0,#md-article .app--dark .mermaid .activeCritText1,#md-article .app--dark .mermaid .activeCritText2,#md-article .app--dark .mermaid .activeCritText3{
    fill:#323d47!important
}
#md-article .app--dark .mermaid .titleText{
    text-anchor:middle;
    font-size:18px;
    fill:#d3d3d3
}
#md-article .app--dark .mermaid .node text{
    font-family:trebuchet ms,verdana,arial;
    font-size:14px
}
#md-article .app--dark .mermaid div.mermaidTooltip{
    position:absolute;
    text-align:center;
    max-width:200px;
    padding:2px;
    font-family:trebuchet ms,verdana,arial;
    font-size:12px;
    background:#6d6d65;
    border:1px solid hsla(0,0%,100%,.25);
    border-radius:2px;
    pointer-events:none;
    z-index:100
}
#md-article /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
#md-article html{
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
#md-article body{
    margin:0
}
#md-article article,#md-article aside,#md-article footer,#md-article header,#md-article nav,#md-article section{
    display:block
}
#md-article h1{
    font-size:2em;
    margin:.67em 0
}
#md-article figcaption,#md-article figure{
    display:block
}
#md-article figure{
    margin:1em 40px
}
#md-article hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
#md-article main{
    display:block
}
#md-article pre{
    font-family:monospace,monospace;
    font-size:1em
}
#md-article a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
#md-article abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
#md-article b,#md-article strong{
    font-weight:inherit;
    font-weight:bolder
}
#md-article code,#md-article kbd,#md-article samp{
    font-family:monospace,monospace;
    font-size:1em
}
#md-article dfn{
    font-style:italic
}
#md-article mark{
    background-color:#ff0;
    color:#000
}
#md-article small{
    font-size:80%
}
#md-article sub,#md-article sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
#md-article sub{
    bottom:-.25em
}
#md-article sup{
    top:-.5em
}
#md-article audio,#md-article video{
    display:inline-block
}
#md-article audio:not([controls]){
    display:none;
    height:0
}
#md-article img{
    border-style:none
}
#md-article svg:not(:root){
    overflow:hidden
}
#md-article button,#md-article input,#md-article optgroup,#md-article select,#md-article textarea{
    font-family:sans-serif;
    font-size:100%;
    line-height:1.15;
    margin:0
}
#md-article button{
    overflow:visible
}
#md-article button,#md-article select{
    text-transform:none
}
#md-article [type=reset],#md-article [type=submit],#md-article button,#md-article html [type=button]{
    -webkit-appearance:button
}
#md-article [type=button]::-moz-focus-inner,#md-article [type=reset]::-moz-focus-inner,#md-article [type=submit]::-moz-focus-inner,#md-article button::-moz-focus-inner{
    border-style:none;
    padding:0
}
#md-article [type=button]:-moz-focusring,#md-article [type=reset]:-moz-focusring,#md-article [type=submit]:-moz-focusring,#md-article button:-moz-focusring{
    outline:1px dotted ButtonText
}
#md-article input{
    overflow:visible
}
#md-article [type=checkbox],#md-article [type=radio]{
    box-sizing:border-box;
    padding:0
}
#md-article [type=number]::-webkit-inner-spin-button,#md-article [type=number]::-webkit-outer-spin-button{
    height:auto
}
#md-article [type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
#md-article [type=search]::-webkit-search-cancel-button,#md-article [type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
#md-article ::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
#md-article fieldset{
    padding:.35em .75em .625em
}
#md-article legend{
    box-sizing:border-box;
    display:table;
    max-width:100%;
    padding:0;
    color:inherit;
    white-space:normal
}
#md-article progress{
    display:inline-block;
    vertical-align:baseline
}
#md-article textarea{
    overflow:auto
}
#md-article details{
    display:block
}
#md-article summary{
    display:list-item
}
#md-article menu{
    display:block
}
#md-article canvas{
    display:inline-block
}
#md-article [hidden],#md-article template{
    display:none
}
#md-article body,#md-article html{
    color:rgba(0,0,0,.75);
    font-size:16px;
    font-family:Lato,Helvetica Neue,Helvetica,sans-serif;
    font-variant-ligatures:common-ligatures;
    line-height:1.67;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
#md-article .app--dark .layout__panel--editor,#md-article .app--dark .layout__panel--preview{
    color:hsla(0,0%,100%,.75)
}
#md-article blockquote,#md-article dl,#md-article ol,#md-article p,#md-article pre,#md-article ul{
    margin:1.2em 0
}
#md-article h1,#md-article h2,#md-article h3,#md-article h4,#md-article h5,#md-article h6{
    margin:1.8em 0;
    line-height:1.33
}
#md-article h1:after,#md-article h2:after{
    content:"";
    display:block;
    position:relative;
    top:.33em;
    border-bottom:1px solid hsla(0,0%,50%,.2)
}
#md-article ol ol,#md-article ol ul,#md-article ul ol,#md-article ul ul{
    margin:0
}
#md-article dt{
    font-weight:700
}
#md-article a{
    color:#0c93e4;
    text-decoration:underline;
    text-decoration-skip:ink
}
#md-article a:focus,#md-article a:hover{
    text-decoration:none
}
#md-article code,#md-article pre,#md-article samp{
    font-family:Roboto Mono,Lucida Sans Typewriter,Lucida Console,monaco,Courrier,monospace;
    font-size:.85em
}
#md-article code *,#md-article pre *,#md-article samp *{
    font-size:inherit
}
#md-article blockquote{
    color:rgba(0,0,0,.5);
    padding-left:1.5em;
    border-left:5px solid rgba(0,0,0,.075)
}
#md-article .app--dark .layout__panel--editor blockquote,#md-article .app--dark .layout__panel--preview blockquote{
    color:hsla(0,0%,100%,.4);
    border-left-color:hsla(0,0%,100%,.075)
}
#md-article code{
    background-color:rgba(0,0,0,.05);
    border-radius:2px;
    padding:2px 4px
}
#md-article hr{
    border:0;
    border-top:1px solid hsla(0,0%,50%,.2);
    margin:2em 0
}
#md-article pre>code{
    background-color:rgba(0,0,0,.05);
    display:block;
    padding:.5em;
    -webkit-text-size-adjust:none;
    overflow-x:auto;
    white-space:pre
}
#md-article .toc ul{
    list-style-type:none;
    padding-left:20px
}
#md-article table{
    background-color:transparent;
    border-collapse:collapse;
    border-spacing:0
}
#md-article td,#md-article th{
    border-right:1px solid #dcdcdc;
    padding:8px 12px
}
#md-article td:last-child,#md-article th:last-child{
    border-right:0
}
#md-article td{
    border-top:1px solid #dcdcdc
}
#md-article mark{
    background-color:#f8f840
}
#md-article kbd{
    font-family:Lato,Helvetica Neue,Helvetica,sans-serif;
    background-color:#fff;
    border:1px solid rgba(63,63,63,.25);
    border-radius:3px;
    box-shadow:0 1px 0 rgba(63,63,63,.25);
    color:#333;
    display:inline-block;
    font-size:.8em;
    margin:0 .1em;
    padding:.1em .6em;
    white-space:nowrap
}
#md-article abbr[title]{
    border-bottom:1px dotted #777;
    cursor:help
}
#md-article img{
    max-width:100%
}
#md-article .task-list-item{
    list-style-type:none
}
#md-article .task-list-item-checkbox{
    margin:0 .2em 0 -1.3em
}
#md-article .footnote{
    font-size:.8em;
    position:relative;
    top:-.25em;
    vertical-align:top
}
#md-article .page-break-after{
    page-break-after:always
}
#md-article .stackedit__html{
    margin-bottom:180px;
    margin-left:auto;
    margin-right:auto;
    padding-left:30px;
    padding-right:30px;
    max-width:750px
}
#md-article .stackedit__toc ul{
    padding:0
}
#md-article .stackedit__toc ul a{
    margin:.5rem 0;
    padding:.5rem 1rem
}
#md-article .stackedit__toc ul ul{
    color:#888;
    font-size:.9em
}
#md-article .stackedit__toc ul ul a{
    margin:0;
    padding:.1rem 1rem
}
#md-article .stackedit__toc li{
    display:block
}
#md-article .stackedit__toc a{
    display:block;
    color:inherit;
    text-decoration:none
}
#md-article .stackedit__toc a:active,#md-article .stackedit__toc a:focus,#md-article .stackedit__toc a:hover{
    background-color:rgba(0,0,0,.075);
    border-radius:2px
}
#md-article .stackedit__left{
    position:fixed;
    display:none;
    width:250px;
    height:100%;
    top:0;
    left:0;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:none
}
#md-article @media (min-width:1060px){
    .stackedit__left{
        display:block
    }
}
#md-article .stackedit__right{
    position:absolute;
    right:0;
    top:0;
    left:0
}
#md-article @media (min-width:1060px){
    .stackedit__right{
        left:250px
    }
}
#md-article .stackedit--pdf blockquote{
    border-left-color:#ececec
}
#md-article .stackedit--pdf .stackedit__html{
    padding-left:0;
    padding-right:0;
    max-width:none
}
